html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff2"),
    url("../fonts/GeneralSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Extralight.woff2') format('woff2'),
        url('../fonts/GeneralSans-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Light.woff2') format('woff2'),
        url('../fonts/GeneralSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Semibold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"),
    url("../fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../fonts/GeistMono-SemiBold.woff2") format("woff2"),
    url("../fonts/GeistMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotcha";
  src: url("../fonts/GotchaRegular.woff2") format("woff2"),
    url("../fonts/GotchaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Lt";
  src: url("../fonts/GTAmerica-Lt.woff2") format("woff2"),
    url("../fonts/GTAmerica-Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
  font-family: var(--secondary-font);
}
img {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}
mark {
  background: transparent;
  color: inherit;
}

:root {
  --primary-font: "Gotcha";
  --secondary-font: "General Sans";
  --trinary-font: "Geist Mono";
  --fontawesome: "Font Awesome 6 Free";
  --primary-color: #007173;
  --primary-color-100: rgba(0, 148, 150, 0.1);
  --primary-color-300: rgba(0, 191, 195, 1);
  --primary-color-400: #009496;
  --primary-color-600: rgba(9, 68, 62, 1);
  --primary-color-700: rgba(11, 57, 56, 1);
  --primary-color-800: rgba(0, 191, 195, 1);

  --secondary-color: #0f1828;
  --secondary-color-600: rgba(15, 24, 40, 0.75);

  --trinary-color: #ffe1d6;
  --trinary-color-800: rgba(250, 230, 170, 1);

  --body-color: #383838;
  --body-color-400: rgba(56, 56, 56, 1);
  --body-color-500: rgba(28, 28, 28, 1);
  --white-shade: #f1eae6;
  --white-shade-100: rgba(255, 255, 255, 0.2);
  --white-shade-300: rgba(255, 225, 214, 0.25);
  --white-shade-400: rgba(241, 234, 230, 1);
  --white-shade-600: rgba(208, 208, 208, 1);
}

body {
  font-size: 1.125rem;
  position: relative;
  font-weight: var(--secondary-font);
  line-height: 100%;
  font-weight: 300;
  color: var(--body-color);
}

body.overlay::before {
  content: "";
  background: url(../image/screenshot.png) top center no-repeat;
  position: absolute;
  opacity: 0.2;
  pointer-events: none;
  inset: 0;
  margin: auto;
  z-index: 3;
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 100%;
}

h1 small,
h2 small,
h3 small,
h4 small {
  text-transform: uppercase;
  color: var(--secondary-color-600);
  font-family: var(--secondary-font);
}

.wrapper {
  max-width: 1320px;
  width: 100%;
  margin-inline: auto;
  position: relative;
}

/* Header */
header {
  padding-inline: 10px;
}
.header__container {
}
.header__box {
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 9999px;
  top: 24px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding-block: 11px;
  gap: 10px;
}
.header__logo {
  max-width: 147px;
  width: 100%;
  grid-column: span 2;
  margin-left: 32px;
}
.header__logo img {
}

/* Nav */
.navigation__container {
  grid-column: 3 / span 7;
}
.navigation__menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 33px;
}
.navigation__menu li {
}
.navigation__menu li a {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--secondary-font);
}
.navigation__menu li span {
}
.navigation__menu li span::before {
  content: "\f078";
  font-family: var(--fontawesome);
  font-weight: 900;
}

/* Header Info */
.header__info {
  grid-column: 10 / 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  justify-self: end;
  column-gap: 30px;
}
.header__info section {
}

.header__search {
}
.header__search span {
  font-size: 1.5rem;
}
.header__search span i {
}

.header__button {
}
.header__button a {
  padding-block: 15px;
}

/* Hero Section */
#hero {
  padding-inline: 10px;
  background: var(--white-shade);
  position: relative;
  isolation: isolate;
}
.hero__container::before {
  content: "";
  background: var(--primary-color-400);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 80%;
  z-index: -1;
}

.hero__container {
  min-height: 760px;
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.hero__title {
  max-width: 482px;
  width: 100%;
  margin-bottom: 14%;
}
.hero__title h2 {
  font-size: 3rem;
  color: var(--secondary-color);
  font-weight: 400;
  margin-bottom: 1rem;
}
.hero__title h2 span {
  font-family: var(--primary-font);
  line-height: 100%;
  color: var(--primary-color);
  font-size: 4rem;
}
.hero__title p {
  line-height: 23px;
}

.hero__btn_con {
  display: flex;
  gap: 10px;
  margin-top: 34px;
}
.hero__btn_con a {
}

.hero__banner {
  max-width: 604px;
  width: 50%;
  margin-right: 35px;
  aspect-ratio: 1/1;
}
.hero__banner figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
}
.hero__banner figure img {
  max-width: initial;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: unset;
}

/* Main */
#main {
  padding-inline: 10px;
}
#main .main__container {
  min-height: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
main {
  max-width: 584px;
  width: 100%;
  margin-top: 119px;
  margin-right: 63px;
}
main h1 {
  font-size: 3rem;
  line-height: 100%;
  color: var(--secondary-color);
  font-weight: normal;
  margin-bottom: 14px;
}
main h1 small {
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  line-height: 100%;
  color: var(--secondary-color-600);
}
main h1 span {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 3.8rem;
  line-height: 100%;
}
main p {
  line-height: 25px;
}
main a {
  margin-top: 27px;
}

.main__sideimg {
  align-self: end;
  max-width: 648px;
  width: 100%;
}
.main__sideimg figure {
}
.main__sideimg figure img {
}

/* Bottom 1 */
#bottom1 {
  padding-inline: 10px;
  background: var(--white-shade-300);
}
.btm1__container {
  min-height: 500px;
  padding-top: 78px;
  padding-bottom: 48px;
}
.btm1__info {
  margin-bottom: 48px;
}
.btm1__info h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.btm1__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btm1__img {
  width: 58%;
  max-width: 760px;
  overflow: hidden;
  border-radius: 10px;
  height: 378px;
}
.btm1__img img {
  max-width: initial;
  width: 100%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: relative;
}

.btm1__card {
  max-width: 493px;
  width: 40%;
}
.btm1__card h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 19px;
}
.btm1__card h2 small {
  display: block;
  color: var(--primary-color-400);
  font-size: 1rem;
  font-weight: 600;
}
.btm1__card span {
  display: block;
  font-weight: 600;
  margin-bottom: 9px;
}
.btm1__card span address {
}
.btm1__card p {
  line-height: 24px;
}
.btm1__card a {
  margin-top: 32px;
}

/* Bottom 2 */
#bottom2 {
  padding-inline: 10px;
}
.btm2__container {
  min-height: 866px;
  padding-top: 67px;
  padding-bottom: 50px;
}
.btm2__info {
  margin-bottom: 72px;
}
.btm2__info h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.btm2__info h2 small {
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color-600);
  display: block;
  text-transform: uppercase;
}
.btm2__info h2 span {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: normal;
}

.btm2__box {
}
.btm2__card h2 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 23px;
  margin-left: 13px;
}
.btm2__card {
  max-width: 262px;
  width: 100%;
}
.btm2__card ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.btm2__card ul li {
  padding-block: 16px;
  padding-inline: 13px;
  border-radius: 35px;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 1rem;
}
.btm2__card ul li a {
}

.btm2__map {
}

/* Bottom 3 */
#bottom3 {
  padding-inline: 10px;
  background: rgba(15, 24, 40, 0.05);
}
.btm3__container {
  padding-top: 68px;
  padding-bottom: 50px;
  min-height: 406px;
}
.btm3__box {
  display: flex;
  justify-content: space-between;
}
.btm3__header {
}
.btm3__header h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.btm3__header h2 small {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}
.btm3__header h2 span {
  font-family: var(--primary-font);
  color: var(--primary-color);
  display: block;
  font-weight: normal;
  font-size: 4rem;
}

.btm3__info {
  max-width: 760px;
  width: 64%;
}
.btm3__info p {
  line-height: 28px;
}
.btm3__status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 26px;
  margin-top: 27px;
  margin-bottom: 38px;
}
.btm3__status__card {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  min-height: 120px;
}
.btm3__status__card h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-family: var(--trinary-font);
}
.btm3__status__card h3 {
  font-size: 1.5rem;
}

.btm3__btn_con {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btm3__btn_con a {
}

/* Bottom 4 */
#bottom4 {
  padding-inline: 10px;
  background: rgba(15, 24, 40, 0.05);
}
.btm4__container {
  min-height: 815px;
  padding-block: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btm4_video {
}
.btm4_video video {
  display: block;
  width: 100%;
}

/* Bottom 5 */
#bottom5 {
  padding-inline: 10px;
  background: var(--primary-color-600);
}
.btm5__container {
  min-height: 737px;
  position: relative;
  display: flex;
  justify-content: space-between;
  isolation: isolate;
  padding-top: 89px;
  padding-bottom: 50px;
}
.btm5__container::before {
  content: "";
  background: var(--trinary-color-800);
  width: 113%;
  height: 100%;
  position: absolute;
  left: 80%;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.btm5__box {
  max-width: 632px;
  width: 100%;
}
.btm5__header {
  color: #fff;
}
.btm5__header h2 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 13px;
}
.btm5__header h2 span {
  font-family: var(--primary-font);
  color: var(--trinary-color-800);
  font-size: 3.5rem;
  font-weight: normal;
}
.btm5__header p {
  line-height: 24px;
}

.btm5__list {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  row-gap: 9px;
  counter-reset: btm5_count;
}
.btm5__list .btm5_card {
  color: #fff;
  background: var(--primary-color-700);
  padding-left: 104px;
  padding-right: 31px;
  padding-top: 28px;
  border-radius: 15px;
  position: relative;
  padding-bottom: 21px;
}
.btm5__list .btm5_card::before {
  content: counter(btm5_count, decimal-leading-zero);
  counter-increment: btm5_count;
  font-size: 2.2rem;
  font-family: var(--trinary-font);
  position: absolute;
  left: 32px;
  color: var(--trinary-color-800);
  top: 32px;
}
.btm5__list .btm5_card h2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.btm5__list .btm5_card h2 span {
}
.btm5__list .btm5_card p {
  color: var(--white-shade-400);
  font-size: 1rem;
  line-height: 23px;
}

.btm5__img {
  max-width: 656px;
  width: 100%;
  align-self: center;
  position: relative;
  transform: translateX(48px);
}
.btm5__img img {
}

/* Bottom 6 */
#bottom6 {
  padding-inline: 10px;
}

.btm6__container {
  min-height: 544px;
  padding-top: 80px;
  padding-bottom: 50px;
}
.btm6__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}
.btm6__info h2 {
  font-size: 2.5rem;
  font-family: var(--secondary-font);
  font-weight: 600;
}
.btm6__info h2 span {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: normal;
}
.btm6__info a {
}

.btm6__box {
  display: flex;
  justify-content: space-between;
}

.btm6__card {
  max-width: 426px;
  width: 32%;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}
.btm6__card figure {
}
.btm6__card figure img {
}
.btm6__content {
}
.btm6__content h3 {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
}
.btm6__content h2 {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 10px;
  line-height: 35px;
}
.btm6__content p {
  color: var(--body-color-400);
}

/* Bottom 7 */
#bottom7 {
  padding-inline: 10px;
  background: var(--white-shade-400);
  position: relative;
  isolation: isolate;
}
.btm7__container::before {
  content: "";
  background: var(--primary-color-400);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 80%;
  z-index: -1;
}
.btm7__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  min-height: 676px;
  position: relative;
}

.btm7__info {
  max-width: 483px;
  width: 100%;
  margin-top: 20%;
  margin-right: 3rem;
}
.btm7__info h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.btm7__info h2 span {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 100;
}
.btm7__info p {
  line-height: 28px;
}

.btm7__btn_con {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.btm7__btn_con a {
}

.btm7__img {
  max-width: 604px;
  width: 50%;
  aspect-ratio: 1;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  overflow: hidden;
  align-self: end;
  margin-left: 10px;
}
.btm7__img img {
  max-width: initial;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 47%;
  position: relative;
}

/* Footer */

footer {
  background: var(--secondary-color);
}
#footer__top {
  padding-inline: 10px;
}
.ftrtop__container {
  padding-top: 95px;
  padding-bottom: 60px;
}
.ftrtop__logo_con {
  display: flex;
  justify-content: space-between;
}
.ftr__mainlogo {
  max-width: 191px;
  width: 100%;
}
.ftr__mainlogo img {
}

.ftr__sponsorlogo {
  max-width: 232px;
  width: 100%;
  margin-right: 37px;
}
.ftr__sponsorlogo img {
}

.ftrtop__info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 35px;
}
.contact__info {
  grid-column: span 3;
  margin-top: 15px;
}
.contact__info ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.contact__info ul li {
  position: relative;
  padding-left: 34px;
}
.contact__info ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 24px;
  width: 100%;
}
.contact__info ul li a {
  font-size: 1rem;
  color: #fff;
}
.contact__info ul li:nth-child(1)::before {
  background: url(../image/tel-icon.png) center no-repeat;
  background-size: contain;
}
.contact__info ul li:nth-child(2)::before {
  background: url(../image/mail-icon.png) center no-repeat;
}

.ftr__navigation {
  grid-column: 5 / span 5;
  display: flex;
  justify-self: end;
  column-gap: 69px;
}
.ftr__navigation h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--trinary-color-800);
  margin-bottom: 26px;
  letter-spacing: 3px;
}

.ftr__quicklink {
  color: red;
}
.ftr__quicklink h4 {
}
.ftr__quicklink ul {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.ftr__quicklink ul li {
  color: red;
}
.ftr__quicklink ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.ftr__tentants {
}
.ftr__tentants h4 {
}
.ftr__tentants ul {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.ftr__tentants ul li {
}
.ftr__tentants ul li a {
  color: #fff;
  font-weight: 500;
}

.ftr__contact {
  grid-column: 10 / span 3;
  max-width: 207px;
  width: 100%;
  justify-self: center;
}
.ftr__contact .contact__btn {
  width: 100%;
  max-width: 100%;
  background: var(--primary-color-800);
  text-align: center;
  color: var(--secondary-color-600);
  padding-inline: 0;
}

.ftr__socialmed {
  display: flex;
  align-items: center;
  margin-top: 30px;
  column-gap: 15px;
}
.ftr__socialmed li {
  max-width: 48px;
  width: 100%;
  background: var(--primary-color-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
.ftr__socialmed li a {
  max-width: 26px;
  aspect-ratio: 1/1;
  width: 100%;
}
.ftr__socialmed li a img {
}

#footer__btm {
  padding-inline: 10px;
}
.ftrtbm__container {
  border-top: 1px solid var(--white-shade-100);
  padding-top: 47px;
  padding-bottom: 50px;
  color: var(--white-shade-600);
}
.ftrbtm__content {
  display: flex;
  font-size: 0.95rem;
  justify-content: space-between;
  gap: 10px;
  max-width: 1049px;
  width: 100%;
  margin-inline: auto;
}
.ftrbtm__content p {
}
.ftrbtm__content_flag {
  display: flex;
  align-items: center;
  gap: 6px;
}
.ftrbtm__content_flag li {
  max-width: 24px;
  width: 100%;
}
.ftrbtm__content_flag li img {
}

.ftrbtm__copyright {
  text-align: center;
  margin-top: 10px;
}
.ftrbtm__copyright p {
  font-size: 0.95rem;
}
.ftrbtm__copyright p strong {
  font-weight: bold;
}

/* Presents */
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  clear: both;
  overflow: hidden;
}

.btn {
  max-width: max-content;
  width: 100%;
  display: block;
  color: #fff;
  font-weight: 600;
  font-family: var(--secondary-font);
  border-radius: 35px;
  padding-inline: 17px;
  padding-block: 20px;
}
.btn:hover {
}

.primary-btn {
  background: var(--primary-color);
  color: #fff;
}
.secondary-btn {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color-600);
}

.btn-txt {
  display: block;
  max-width: max-content;
  width: 100%;
  padding-inline: 6px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
}
.btn-txt::after {
  content: "\f062";
  font-family: var(--fontawesome);
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  transform: rotate(45deg);
  transform-origin: center;
}

#overlay {
  position: fixed;
  right: 0;
  top: 50%;
  background: red;
  cursor: pointer;
  writing-mode: vertical-lr;
  padding: 10px;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 500ms;
  z-index: 99;
}

#overlay:hover {
  padding-right: 15px !important;
}
