@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
} /* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff2"),
    url("../fonts/GeneralSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Extralight.woff2') format('woff2'),
        url('../fonts/GeneralSans-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Light.woff2') format('woff2'),
        url('../fonts/GeneralSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Semibold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"),
    url("../fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../fonts/GeistMono-SemiBold.woff2") format("woff2"),
    url("../fonts/GeistMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotcha";
  src: url("../fonts/GotchaRegular.woff2") format("woff2"),
    url("../fonts/GotchaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Lt";
  src: url("../fonts/GTAmerica-Lt.woff2") format("woff2"),
    url("../fonts/GTAmerica-Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
  font-family: var(--secondary-font);
}
img {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}
mark {
  background: transparent;
  color: inherit;
}

:root {
  --primary-font: "Gotcha";
  --secondary-font: "General Sans";
  --trinary-font: "Geist Mono";
  --quarternary-font: "Inter", sans-serif;
  --fontawesome: "Font Awesome 6 Free";
  --primary-color: rgba(0, 113, 115, 1);
  --primary-color-100: rgba(0, 148, 150, 0.1);
  --primary-color-300: rgba(0, 191, 195, 1);
  --primary-color-400: rgba(0, 148, 150, 1);
  --primary-color-500: rgba(128, 225, 229, 1);
  --primary-color-600: rgba(9, 68, 62, 1);
  --primary-color-700: rgba(11, 57, 56, 1);
  --primary-color-800: rgba(0, 191, 195, 1);

  --secondary-color: #0f1828;
  --secondary-color-600: rgba(15, 24, 40, 0.75);
  --secondary-color-400: rgba(15, 24, 40, 0.5);
  --secondary-color-450: rgba(15, 24, 40, 0.05);

  --trinary-color: rgba(255, 225, 214, 1);
  --trinary-color-250: rgba(255, 225, 214, 0.25);
  --quarternary-color: rgba(250, 230, 170, 1);

  --fifth-color: rgba(249, 196, 169, 1);

  --body-color: rgba(56, 56, 56, 1);
  --body-color-400: rgba(56, 56, 56, 1);
  --body-color-500: rgba(28, 28, 28, 1);
  --body-color-600: rgba(94, 94, 94, 1);
  --white-shade: rgba(241, 234, 230, 1);
  --white-shade-500: rgba(255, 255, 255, 1);

  --white-shade-400: rgba(241, 234, 230, 1);
  --white-shade-600: rgba(208, 208, 208, 1);

  --gray-color-200: rgba(255, 255, 255, 0.2);
}

body {
  font-size: 1.125rem;
  position: relative;
  font-family: var(--secondary-font);
  line-height: 100%;
  font-weight: 300;
  color: var(--body-color);
}

body.overlay::before {
  content: "";
  background: url(../image/screenshot.png) top center no-repeat;
  position: absolute;
  opacity: 0.7;
  pointer-events: none;
  inset: 0;
  margin: auto;
  z-index: 3;
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 100%;
}

h1 small,
h2 small,
h3 small,
h4 small {
  text-transform: uppercase;
  color: var(--secondary-color-600);
  font-family: var(--secondary-font);
}

h1 span,
h2 span,
h3 span,
h4 span {
  font-weight: normal;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.wrapper {
  max-width: 1320px;
  width: 100%;
  margin-inline: auto;
  position: relative;
}

/* Search Form */
#search__form {
}
.search__form.show {
  transform: scale(1);
  opacity: 1;
  z-index: 999;
}
.search__form {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -999;
  opacity: 0;
  transform: scale(0);

  transition-property: opacity, transform;
  transition-duration: 500ms, 1000ms, 2000ms;
  transform-origin: center;
}

.search__form_container {
  background: #fff;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

span.close__search {
  margin-left: auto;
  max-width: 25px;
}

.search__form_container .form__container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__box {
  max-width: 805px;
  width: 100%;
  text-align: center;
}

.search__form_container .form__box h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.search__input_con {
  width: 100%;
  display: flex;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 1px solid var(--body-color-600);
  align-items: center;
  border-radius: 5px;
}
.search__input_con input:focus-visible {
  border: unset;
  box-shadow: unset;
  outline: unset;
}
.search__input_con input {
  margin: 0;
  border: unset;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--quarternary-font);
  color: #888888;
  caret-color: var(--primary-color);
}
.search__input_icon {
  color: var(--body-color-600);
  background: transparent;
  border: none;
  transition: all 500ms;
}
.search__input_icon:hover {
  color: var(--primary-color);
}
.search__input_icon i {
}

/* Header */
header {
  padding-inline: 10px;
  background: var(--white-shade);
}
.header__container {
}
.header__box {
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 9999px;
  top: 24px;
  background: #fff;
  display: flex;
  align-items: center;
  padding-block: 11px;
  padding-inline: 15px;
  justify-content: space-between;
  column-gap: 10px;
}
.header__logo {
  max-width: 147px;
  width: 100%;
}
.header__logo img {
}

/* Nav */
.navigation__container {
  width: 100%;
  max-width: 675px;
  margin-left: auto;
  margin-right: 5rem;
  position: relative;
}

.navigation__holder {
}

/* Burger Active */
.burger__header {
  display: none;
  border-radius: 9999px;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  padding-inline: 25px;
  padding-block: 13px;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 22px;
}

.main__burger__logo {
  max-width: 117px;
  width: 100%;
}

.burger__close {
  max-width: 24px;
}

.burger__close::before {
}
.burger__close::after {
}

.burger--active .navigation__menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger--active .menu__card {
  width: 100%;
}

.burger--active .menu__card .menu__item {
  display: flex;
  justify-content: space-between;
  padding-block: 25px;
  padding-inline: 25px;
  border-radius: 35px;
}

.burger--active .sub__menu_con {
  position: static;
  transform: unset;
}
.burger--active .sub__menu_con .sub__container {
  width: 100%;
  max-width: 100%;
}

/* Burger Button Open */
.burger__open {
  max-width: 32px;
  width: 100%;
  aspect-ratio: 1;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.burger__open::before,
.burger__open::after,
.burger__open span {
  height: 2px;
  background: var(--body-color-600);
  transition: all 500ms ease-in-out;
}

.burger__open::before,
.burger__open::after {
  content: "";
  width: 100%;
}

.burger__open span {
  position: relative;
  width: 77%;
  background: var(--body-color-600);
}

.burger__open:hover::before {
  width: 77%;
  transition-duration: 0.35s;
}

.burger__open:hover::after {
  width: 77%;
  transition-duration: 0.35s;
}

.burger__open:hover span {
  width: 100%;
  transition-duration: 0.35s;
}

.navigation__menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  position: relative;
}
.navigation__menu .menu__item {
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 35px;
}

.navigation__menu .menu__card .menu__item:hover {
  background: var(--trinary-color);
  -webkit-text-stroke: 0.03rem;
}

.navigation__menu .menu__card .menu__item.active {
  background: var(--trinary-color);
  -webkit-text-stroke: 0.03rem;
}

.navigation__menu .menu__item a {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--secondary-font);
}
.navigation__menu .menu__item span {
}

.navigation__menu .menu__item span::before {
  content: "\f078";
  font-family: var(--fontawesome);
  font-weight: 900;
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
  color: var(--secondary-color-400);
  transition: all 500ms;
}
.navigation__menu .menu__item span:hover::before {
  transform: rotate(180deg);
}

/* Sub Header */
.sub__menu_con {
  position: absolute;
  width: 100%;
  padding-top: 1.5rem;
  left: -50%;
  margin-left: 50%;
  top: 100%;
  transform: scale(0);
  transition: all 500ms;
  opacity: 0;
  transform-origin: top left;
}

.sub__container {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding-block: 25px;
  padding-inline: 25px;
  position: relative;
}

.menu__card:hover .sub__menu_con,
.sub__menu_con.active {
  transform: scale(1);
  opacity: 1;
}

.menu__card:hover .sub__container {
}

.sub__menu {
  width: 57%;
}
.sub__menu h4 {
  margin-bottom: 15px;
}

.sub__menu_flex {
  display: flex;

  justify-content: space-between;
}
.sub__menu_flex::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  left: 57%;
  transform: translateX(-50%);
}

.sub__menu--list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sub__menu--list li {
  padding-block: 10px;
}
.sub__menu--list li a {
  color: var(--secondary-color-600);
  font-weight: 500;
  position: relative;
  display: inline-block;
  transition: all 500ms ease-in-out;
  font-size: 1rem;
}

.sub__menu--list li a::before {
  content: "";
  width: 0;
  height: 0.1rem;
  background: var(--secondary-color);
  position: absolute;
  bottom: -0.3rem;
  left: 0%;
  transition: all 500ms ease-in-out;
}

.sub__menu--list li a:hover {
  color: var(--secondary-color);
}

.sub__menu--list li a:hover::before {
  width: 100%;
}

.sub__menu_con h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.sub__menu--card {
  max-width: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-self: center;
}
.sub__menu--card figure {
  max-width: 240px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.sub__menu--card figure img {
}
.sub__menu--content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.sub__menu--content p {
  font-size: 0.9rem;
}

/* Properties */
.property--menu {
}
.property--menu .sub__menu_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.property--menu .sub__menu_header h4 {
}
.property--menu .sub__menu_header a {
}
.property--menu .sub__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.property--menu .sub__menu li {
  max-width: 80px;
  width: 100%;
}
.property--menu .sub__menu li a {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.property--menu .sub__menu li a figure {
  max-width: 80px;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.property--menu .sub__menu li a figure svg {
  width: 73%;
  aspect-ratio: 1/1;
}

.property--menu .sub__menu li a figure svg path {
  fill: var(--secondary-color-400);
}

.property--menu .sub__menu li a span {
  font-size: 1rem;
  color: var(--secondary-color-400);
  font-weight: 600;
}

.property--menu .sub__menu li:hover a span {
  color: var(--secondary-color);
}

.property--menu .sub__menu li:hover figure svg path {
  fill: var(--secondary-color);
}

/* SDA */
.sda--menu {
}

/* About Us*/
.about--menu {
}

/* Resources */
.resources--menu {
}

/* Media */
.media--menu {
}

/* Header Info */
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 219px;
}
.header__info section {
}

.header__search {
}
.header__search span {
  font-size: 1.5rem;
  color: var(--body-color-600);
  transition: all 500ms;
}
.header__search span:hover {
  color: var(--primary-color);
}
.header__search span i {
}

.header__button {
}
.header__button a {
  padding-block: 15px;
  font-weight: 500;
  padding-inline: 26px;
}

/* Hero Section */
#hero {
  padding-inline: 10px;
  background: var(--white-shade);
  position: relative;
  isolation: isolate;
}
.hero__container::before {
  content: "";
  background: var(--primary-color-400);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 80%;
  z-index: -1;
}

.hero__container {
  padding-top: 156px;
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.hero__title {
  max-width: 482px;
  width: 100%;
  margin-bottom: 14%;
}
.hero__title h2 {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
.hero__title h2 span {
  line-height: 100%;
  font-size: 4rem;
}
.hero__title p {
  line-height: 23px;
}

.hero__btn_con {
  display: flex;
  gap: 10px;
  margin-top: 34px;
}
.hero__btn_con a {
}

.hero__banner {
  max-width: 604px;
  width: 50%;
  margin-right: 35px;
  aspect-ratio: 1/1;
}
.hero__banner figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
}
.hero__banner figure img {
  max-width: initial;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: unset;
}

/* Main */
#main {
  padding-inline: 10px;
}
#main .main__container {
  min-height: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
main {
  max-width: 584px;
  width: 100%;
  margin-top: 119px;
  margin-right: 63px;
  margin-bottom: 40px;
}
main h1 {
  font-size: 2.5rem;
  line-height: 100%;
  color: var(--secondary-color);
  font-weight: normal;
  margin-bottom: 14px;
  font-weight: 600;
}
main h1 small {
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  line-height: 100%;
  color: var(--secondary-color-600);
}
main h1 span {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 3.8rem;
  line-height: 100%;
}
main p {
  line-height: 25px;
}
main a {
  margin-top: 27px;
}

.main__sideimg {
  align-self: end;
  max-width: 648px;
  width: 100%;
}
.main__sideimg figure {
}
.main__sideimg figure img {
}

/* Bottom 1 */
#bottom1 {
  padding-inline: 10px;
  background: var(--trinary-color-250);
}
.btm1__container {
  min-height: 625px;
  padding-top: 78px;
  padding-bottom: 48px;
}
.btm1__info {
  margin-bottom: 48px;
}
.btm1__info h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.btm1__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btm1__img {
  width: 58%;
  max-width: 760px;
  overflow: hidden;
  border-radius: 10px;
  height: 378px;
}
.btm1__img img {
  max-width: initial;
  width: 100%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: relative;
  border-radius: 10px;
}

.btm1__card {
  max-width: 493px;
  width: 40%;
}
.btm1__card h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 19px;
}
.btm1__card h2 small {
  display: block;
  color: var(--primary-color-400);
  font-size: 1rem;
  font-weight: 600;
}
.btm1__card span {
  display: block;
  font-weight: 600;
  margin-bottom: 9px;
}
.btm1__card span address {
}
.btm1__card p {
  line-height: 24px;
}
.btm1__card a {
  margin-top: 32px;
}

/* Bottom 2 */
#bottom2 {
  padding-inline: 10px;
}
.btm2__container {
  padding-top: 67px;
  padding-bottom: 10px;
}
.btm2__info {
  margin-bottom: 72px;
}
.btm2__info h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.btm2__info h2 small {
  font-size: 1rem;
  font-weight: 600;
  display: block;
}
.btm2__info h2 span {
  font-size: 3.5rem;
}

.btm2__box {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: start;
}

.btm2__card ul li figure {
  display: none;
}

.btm2__card h2 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 23px;
  margin-left: 13px;
}
.btm2__card {
  max-width: 262px;
  width: 100%;
}
.btm2__card ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.btm2__card ul li {
  padding-block: 16px;
  padding-inline: 13px;
  border-radius: 35px;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 1rem;
}
.btm2__card ul li a {
}

.state__item:hover,
.state__item.active {
  background: var(--trinary-color);
  -webkit-text-stroke: 0.03rem;
  border-radius: 35px;
}

.btm2__map_con {
  max-width: 896px;
  width: 100%;
  position: relative;
  top: -103px;
  padding-right: 70px;
}

.map__location {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  pointer-events: none;
}

.map__location section {
  display: flex;
}
.map__location section h2 {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
}
.map__location section h2 span {
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  display: block;
  font-size: 0.8rem;
}

.map__location .wa--map {
  grid-row: 6/6;
  grid-column: span 4;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.map__location .sa--map {
  grid-row: 7/ 7;
  grid-column: 5 / span 4;
  align-items: end;
  justify-content: center;
}
.map__location .qi--map {
  grid-row: 5/ 5;
  grid-column: 8 / span 3;
  align-items: end;
  justify-content: center;
}
.map__location .nsw--map {
  grid-row: 8/8;
  grid-column: 9 / span 3;
  align-items: end;
}
.map__location .act--map {
  grid-row: 9/9;
  grid-column: 10 / span 3;
  align-items: end;
  justify-content: end;
}
.map__location .v--map {
  grid-row: 10/10;
  grid-column: 8 / span 3;
  justify-content: center;
}

.btm2__map {
  width: 100%;
}

#svg__map--australian {
  width: 100%;
  height: auto;
}

.svg__location.active {
  stroke-width: 2px;
  filter: saturate(500%);
}

/* Bottom 3 */
#bottom3 {
  padding-inline: 10px;
  background: var(--secondary-color-450);
}
.btm3__container {
  padding-top: 70px;
  padding-bottom: 50px;
  min-height: 406px;
}
.btm3__box {
  display: flex;
  justify-content: space-between;
}
.btm3__header {
}
.btm3__header h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.btm3__header h2 small {
  display: block;
  font-size: 1rem;
}
.btm3__header h2 span {
  display: block;
  font-size: 4rem;
}

.btm3__info {
  max-width: 760px;
  width: 64%;
}
.btm3__info p {
  line-height: 28px;
}
.btm3__status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 26px;
  margin-top: 27px;
  margin-bottom: 38px;
}
.btm3__status__card {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  padding-block: 20px;
}
.btm3__status__card h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-family: var(--trinary-font);
}
.btm3__status__card h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.btm3__btn_con {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 52px;
}
.btm3__btn_con a {
}

/* Bottom 4 */
#bottom4 {
  padding-inline: 10px;
  background: var(--secondary-color-450);
}
.btm4__container {
  min-height: 845px;
  padding-block: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btm4_video {
}
.btm4_video video {
  display: block;
  width: 100%;
}

/* Bottom 5 */
#bottom5 {
  padding-inline: 10px;
  background: var(--primary-color-600);
}
.btm5__container {
  min-height: 879px;
  position: relative;
  display: flex;
  justify-content: space-between;
  isolation: isolate;
  padding-top: 89px;
  padding-bottom: 50px;
}
.btm5__container::before {
  content: "";
  background: var(--quarternary-color);
  width: 113%;
  height: 100%;
  position: absolute;
  left: 80%;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.btm5__box {
  max-width: 632px;
  width: 100%;
}
.btm5__header {
  color: #fff;
}
.btm5__header h2 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 13px;
}
.btm5__header h2 span {
  color: var(--quarternary-color);
  font-size: 3.5rem;
}
.btm5__header p {
  line-height: 24px;
}

.btm5__list {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  row-gap: 9px;
  counter-reset: btm5_count;
}
.btm5__list .btm5_card {
  color: #fff;
  background: var(--primary-color-700);
  padding-left: 104px;
  padding-right: 31px;
  padding-top: 28px;
  border-radius: 15px;
  position: relative;
  padding-bottom: 21px;
}
.btm5__list .btm5_card::before {
  content: counter(btm5_count, decimal-leading-zero);
  counter-increment: btm5_count;
  font-size: 2.2rem;
  font-family: var(--trinary-font);
  position: absolute;
  left: 32px;
  color: var(--quarternary-color);
  top: 32px;
}
.btm5__list .btm5_card h2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 16px;
}
.btm5__list .btm5_card h2 span {
}
.btm5__list .btm5_card p {
  color: var(--white-shade-400);
  font-size: 1rem;
  line-height: 23px;
}

.btm5__img {
  max-width: 656px;
  width: 100%;
  align-self: center;
  position: relative;
  transform: translateX(48px);
}
.btm5__img img {
}

/* Bottom 6 */
#bottom6 {
  padding-inline: 10px;
}

.btm6__container {
  min-height: 670px;
  padding-top: 80px;
  padding-bottom: 50px;
}
.btm6__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}
.btm6__info h2 {
  font-size: 2.5rem;
}
.btm6__info h2 span {
  font-size: 4rem;
}
.btm6__info a {
}

.btm6__box {
  display: flex;
  justify-content: space-between;
}

.btm6__card {
  max-width: 426px;
  width: 32%;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}
.btm6__card figure {
}
.btm6__card figure img {
}
.btm6__content {
}
.btm6__content h3 {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
}
.btm6__content h2 {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 10px;
  line-height: 35px;
}
.btm6__content p {
  color: var(--body-color-400);
}

/* Bottom 7 */
#bottom7 {
  padding-inline: 10px;
  background: var(--white-shade-400);
  position: relative;
  isolation: isolate;
}
.btm7__container::before {
  content: "";
  background: var(--primary-color-400);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 80%;
  z-index: -1;
}
.btm7__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  min-height: 681px;
  position: relative;
}

.btm7__info {
  max-width: 486px;
  width: 100%;
  margin-top: 20%;
  margin-right: 3rem;
  padding-bottom: 50px;
}
.btm7__info h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.btm7__info h2 span {
  font-size: 3.5rem;
}
.btm7__info p {
  line-height: 28px;
}

.btm7__btn_con {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.btm7__btn_con a {
}

.btm7__img {
  max-width: 604px;
  width: 50%;
  aspect-ratio: 1;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  overflow: hidden;
  align-self: end;
  margin-left: 10px;
}
.btm7__img img {
  max-width: initial;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 47%;
  position: relative;
}

/* Footer */

footer {
  background: var(--secondary-color);
}
#footer__top {
  padding-inline: 10px;
}
.ftrtop__container {
  padding-top: 95px;
  padding-bottom: 60px;
}
.ftrtop__logo_con {
  display: flex;
  justify-content: space-between;
}
.ftr__mainlogo {
  max-width: 191px;
  width: 100%;
}
.ftr__mainlogo img {
}

.ftr__sponsorlogo {
  max-width: 232px;
  width: 100%;
  margin-right: 37px;
}
.ftr__sponsorlogo img {
}

.ftrtop__info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 35px;
}
.contact__info {
  grid-column: span 3;
  margin-top: 15px;
}
.contact__info ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.contact__info ul li {
  position: relative;
  padding-left: 34px;
}
.contact__info ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 24px;
  width: 100%;
}
.contact__info ul li a {
  font-size: 1rem;
  color: #fff;
}
.contact__info ul li a:hover {
  text-decoration: underline;
}
.contact__info ul li:nth-child(1)::before {
  background: url(../image/icons/tel-icon.png) center no-repeat;
  background-size: contain;
}
.contact__info ul li:nth-child(2)::before {
  background: url(../image/icons/mail-icon.png) center no-repeat;
}

.ftr__navigation {
  grid-column: 5 / span 5;
  display: flex;
  justify-self: end;
  column-gap: 69px;
  margin-left: auto;
}
.ftr__navigation h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--quarternary-color);
  margin-bottom: 26px;
  letter-spacing: 3px;
}

.ftr__quicklink {
}
.ftr__quicklink h4 {
}
.ftr__quicklink ul {
}
.ftr__quicklink ul li {
}
.ftr__quicklink ul li a {
}

.ftr__tentants {
}
.ftr__tentants h4 {
}
.ftr__tentants ul {
}
.ftr__tentants ul li {
}
.ftr__tentants ul li a {
}

.ftr__navigation ul {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.ftr__navigation ul li a {
  position: relative;
  transition: all 500ms;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  display: inline-block;
}
.ftr__navigation ul li a::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--fifth-color);
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 500ms;
}
.ftr__navigation ul li a:hover {
  -webkit-text-stroke: 1.1px;
  color: var(--fifth-color);
}
.ftr__navigation ul li a:hover::before {
  width: 100%;
}

.ftr__contact {
  grid-column: 10 / span 3;
  padding-left: 4rem;
  padding-right: 2rem;
}
.ftr__contact .contact__btn {
  width: 100%;
  max-width: 100%;
  background: var(--primary-color-800);
  text-align: center;
  color: var(--secondary-color-600);
  padding-inline: 0;
}

.ftr__contact .contact__btn:hover {
  color: var(--secondary-color-600);
  background: var(--primary-color-500);
}

.ftr__socialmed {
  display: flex;
  align-items: center;
  margin-top: 30px;
  column-gap: 15px;
}
.ftr__socialmed li {
  max-width: 48px;
  width: 100%;
  background: var(--primary-color-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  transition: all 500ms;
}
.ftr__socialmed li a {
  max-width: 26px;
  aspect-ratio: 1/1;
  width: 100%;
}
.ftr__socialmed li a img {
}

.ftr__socialmed li:hover {
  background: var(--primary-color);
}

#footer__btm {
  padding-inline: 10px;
}
.ftrtbm__container {
  border-top: 1px solid var(--gray-color-200);
  padding-top: 47px;
  padding-bottom: 50px;
  color: var(--white-shade-600);
}
.ftrbtm__content {
  max-width: 1095px;
  width: 100%;
  margin-inline: auto;
  text-align: center;
}
.ftrbtm__content p {
  display: inline;
  vertical-align: middle;
  font-size: 1rem;
}
.ftrbtm__content_flag {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
}
.ftrbtm__content_flag li {
  max-width: 24px;
  width: 100%;
}
.ftrbtm__content_flag li img {
}

.ftrbtm__copyright {
  text-align: center;
  margin-top: 10px;
}
.ftrbtm__copyright p {
  font-size: 0.95rem;
}
.ftrbtm__copyright p strong {
  font-weight: bold;
}

/* Presents */
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  clear: both;
  overflow: hidden;
}

.btn {
  max-width: max-content;
  width: 100%;
  display: block;
  color: #fff;
  font-weight: 600;
  font-family: var(--secondary-font);
  border-radius: 35px;
  padding-inline: 17px;
  padding-block: 20px;
  font-size: 1rem;
  transition: all 500ms;
}
.btn:hover {
}

.primary-btn {
  background: var(--primary-color);
  color: #fff;
}

.primary-btn:hover {
  background: var(--primary-color-700);
}
.secondary-btn {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color-600);
}

.secondary-btn:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-txt {
  display: block;
  max-width: max-content;
  width: 100%;
  padding-inline: 6px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
  position: relative;
}

.btn-txt::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: var(--secondary-color);
  transition: all 500ms;
}

.btn-txt::after {
  content: "\f062";
  font-family: var(--fontawesome);
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  transform: rotate(45deg);
  transform-origin: center;
}

.btn-txt:hover {
  color: var(--secondary-color);
}
.btn-txt:hover::before {
  width: 100%;
}

.close--btn {
  max-width: 35px;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  display: block;
  cursor: pointer;
  --rotateDeg: 50deg;
}

.close--btn::before,
.close--btn::after {
  content: "";
  background: var(--body-color-600);
  width: 100%;
  height: 2px;
  position: absolute;
  transform-origin: center;
  inset: 0;
  margin: auto;
  transition: all 500ms ease;
}

.close--btn::before {
  transform: rotate(var(--rotateDeg, 50deg));
}
.close--btn::after {
  transform: rotate(calc(-1 * var(--rotateDeg, -50deg)));
}

.close--btn:hover {
  --rotateDeg: 40deg;
}

#overlay {
  position: fixed;
  right: 0;
  top: 50%;
  background: red;
  cursor: pointer;
  writing-mode: vertical-lr;
  padding: 10px;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 500ms;
  z-index: 99;
}

#overlay:hover {
  padding-right: 15px !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
